<meta http-equiv="Content-Security-Policy" content="">
<meta name="referrer" content="strict-origin-when-cross-origin">
<meta name="theme-color" content="#fff8f2">
<meta name="color-scheme" content="light">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/rose-noire-ixelles/favicon.svg" type="image/svg+xml">
<link rel="icon" href="/rose-noire-ixelles/favicon-32.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/rose-noire-ixelles/apple-touch-icon.png">
<link rel="manifest" href="/rose-noire-ixelles/site.webmanifest">
<link rel="preload" href="/rose-noire-ixelles/assets/fonts/instrument-sans-400-700-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/rose-noire-ixelles/assets/fonts/instrument-serif-italic-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/rose-noire-ixelles/assets/fonts/inria-serif-400-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/rose-noire-ixelles/assets/css/main.css?v=dev">
<script></script>
<script src="/rose-noire-ixelles/assets/vendor/lenis.min.js?v=dev" defer></script>
<script src="/rose-noire-ixelles/assets/js/sound.js?v=dev" defer></script>
<script src="/rose-noire-ixelles/assets/js/bloom.js?v=dev" defer></script>
<script src="/rose-noire-ixelles/assets/js/app.js?v=dev" defer></script>
